# Spec {{ spec_number }}: {{ spec_slug | replace("-", " ") | title }}

## Status

## Goal

## Requirements

## Plan

## Validation

## Open Questions

## Manual Notes

[keep this for the user to add notes. do not change between edits]

## Changelog
